header {
  background-color: #004a99; 
  color: white; 
  font-family: 'Bree Serif', serif;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  padding: 2ex;
  margin: 0;
  max-height: 100px;
  text-align: left;
}

body {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 5%;
  padding: 0;
  color: #1b2631; 
  background: white;
  font-family: 'Neuton', serif;
  font-size: 16pt;
}

address {
  font-style: normal;
  margin-left: 6%;
}

table, th, td {
  border: 1px solid #ddd;
}

table { border-collapse: collapse; }

th { padding: 15px; }

div { margin-left: 5%; }



td a:hover { background-color: #5781bd; }

a:hover { background-color: #5781bd; }

.button {                                                                     
  background-color: #6a8eb3;
  border: none; 
  color: white;
  padding: 1ex 2ex;
  margin-top: 1ex;
  margin-bottom: 1ex;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 16pt;
  cursor: pointer;
}

.tablebutton {
  background-color: #6a8eb3;
  padding: 15px 0px;
  color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 16pt;
}
